<%- include('../partials/header'); -%>
    <main class="container mt-5 text-center">
        <h1>404 - Page Not Found</h1>
        <p>
            <%= message %>
        </p>
    </main>
    <%- include('../partials/footer'); -%>